body, html
{
    margin: 0; 
    height: 100%;
    width: 100%;
}

.vine-poster
{
    width: 50%;
    float: right;
    padding-right: 15px;
}

.vine-title
{ 
    float: left;
    width: 30%;
}

.vine-container {
    padding: 10px 0;
}

.clearfix:after
{ 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}